@import "tailwindcss";

@theme inline {
  --font-dancing-script: 'Dancing Script', cursive;
  --font-prata: 'Prata', serif;

  --color-bg: #F0FFFE;
  --color-sage: #335C45;
  --color-sage-light: #488462;
  --color-accent: #2E282A;
}

@layer components {
  .container {
    @apply m-1;
  }
}
