@import "tailwindcss";

@theme inline {
  --font-renjanis: "Renjanis", cursive;
  --font-outfit: "Outfit", sans-serif;

  --color-white: #faf3eb;
  --color-sage: #717952;
  --color-text: #23231f;
  --color-brown: #5d4c40;
  --color-gray: #B4BCC2;
}

@custom-variant hover (&:hover);

h1 {
  @apply font-renjanis;
}
h2 {
  @apply font-renjanis;
}
h3 {
  @apply font-renjanis text-2xl md:text-4xl xl:text-5xl tracking-wide;
}
p {
  @apply font-outfit text-sm md:text-base lg:text-lg;
}

@layer components {
  .button {
    @apply font-outfit px-3 py-1 lg:py-2 lg:px-5 text-xl md:text-2xl;
  }
}
