@import "tailwindcss";

@theme inline {
  --font-renjanis: "Renjanis", cursive;
  --font-outfit: "Outfit", sans-serif;

  --color-white: #faf3eb;
  --color-sage: #717952;
  --color-text: #23231f;
  --color-brown: #5d4c40;
}

@custom-variant hover (&:hover);

@layer components {
  .button {
    @apply font-outfit px-3 py-1 lg:py-3 lg:px-5 text-xl md:text-3xl;
  }
}
